@charset "UTF-8";

/* Style Header */
header {
    background-color: lightgray; 
}

/* Style Nav */
nav {
    background-color: whitesmoke;
    float: left;
}

nav ul {
    list-style: none;
    padding: 30px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: magenta;
}

/* Style for information */

/* Style footer */
footer {
    clear: both
    padding-top: 2em;
    background: dimgray;
    color: white;
}

/* test*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}