@charset "UTF-8";

/* Style Header */
header {
    background-color: lightgray; 
}

/* Style Nav */
nav {
    background-color: whitesmoke;
    float: left;
}

nav ul {
    list-style: none;
    padding: 30px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: magenta;
}

/* Style for information */

/* Style footer */
footer {
    clear: both
    padding-top: 2em;
    background: dimgray;
    color: white;
}
