@charset "UTF-8";

/* Global Variable
  ========================================================================== */

html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*, *::before, *::after {
  box-sizing: inherit;
}
html body {
  font-size: 15px;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
}
main {
  background-image: url("../images/background/Light_Painting_By_SMOCKINGART.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: auto;
}
footer {
  background-color: #000000;
  padding: 10px;
  overflow: hidden;
  position: relative;
}
button {
  text-transform: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  overflow-clip-margin: content-box;
  overflow: clip;
}
path {
  stroke: #80c2fd;
}
path:hover {
  stroke: #F51720;
}

/* Class
  ========================================================================== */

  /* --- Header --- */
.container-button {
  padding: 0.01em 16px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.button-header {
  background-color: transparent;
  border: none;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.burger-menu-header {
  width: 30px;
  display: flex;
  flex-flow: column;
  margin-right: 10px;
  margin-top: 1px;
  position: fixed;
}
.burger-icon-line {
  background: #F8D210;
  height: 3px;
  margin-bottom: 4px;
  width: 22px;
}
.burger-icon-line:hover{
  background-color: #F51720;
}
.burger-icon-line:nth-child(2) {
  transform: translate(7px);
}
/* -- img */
.container-img {
  object-fit: cover;
  height: auto;
}

/* --- Main --- */
.headline {
  color: #C2B7C8;
  position: absolute;
  font-style: italic;
  right: 20px;
  top: 0px;
  text-align: center;
  font-size: 24px;
}

/* --- */
.module-content {
  margin: auto;
  position: relative;
  padding: 0px;
  outline: 0px;
}
.container-menu {
  display: none;
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #C2B7C8;
}
.button-exit {
  color: #F8D210;
}

/* --- Footer --- */

/* Social Network */
.global-social-network {
  background-color: #000000;
}
.container-social-network {
  position: grid;
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  justify-items: center;
  align-items: center;
  height: 100%;
}
.ul-social-network {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 10px;
  border-left: 2px solid #F8D210;
}

/* Policies */

.footer-nav_policies {
  align-items: center;
  text-align: center;
}

.footer-ul-policies {
  list-style-type: none;
  border-bottom: 3px solid #F8D210;
  text-align: center;
  margin-top: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}

.footer-ul-policies a {
  color: #80c2fd;
  padding: 10px;
  text-decoration: none;
}

.footer-ul-policies a:hover {
  color: #F8D210;
}



/* ID
  ========================================================================== */

/* --- Code couleur du site version pro --- 

#Cod Gray
  #060606
#Chantelle
  #C2B7C8
#Danube
  #6895D4
#Waikawa Gray
#54689E

/* --- Code couleur du site version fun ---

# Black
  #000000
#Cyan
  #2FF3E0
#Gold             | Yellow
  #F8D210         | fff000
#Pink
  #FA26A0
#Chili Pepper
  #F51720